<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <h1>Upload Music</h1>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="audio/*">
                <input type="submit" value="Upload">
            </form>
            <audio id="audioPlayer" controls autoplay loop>
                {% for file in files %}
                    <source src="{{ url_for('uploaded_file', filename=file) }}" type="audio/mpeg">
                {% endfor %}
            </audio>
        </div>
        <div class="playlist">
            <h2>Playlist</h2>
            <ul>
                {% for file in files %}
                    <li>
                        <a href="{{ url_for('uploaded_file', filename=file) }}" target="_blank">{{ file }}</a>
                        <form action="/delete/{{ file }}" method="post" style="display:inline;">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
