<!-- templates/register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="post">
            <input type="text" name="username" placeholder="Username" maxlength="100" required>
            <input type="password" name="password" placeholder="Password" maxlength="100" required>
            <button type="submit">Register</button>
        </form>
        <a href="{{ url_for('login') }}">Login</a>
    </div>
</body>
</html>
